[Unit]
Description=home-assistant.io service
After=syslog.target network.target

[Service]
Type=oneshot
User=homeassistant
Group=homeassistant
ExecStart=/usr/local/bin/hass.sh start
ExecStop=/usr/local/bin/hass.sh stop
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target


